
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.grid-container  {
  background-color: #666666;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #116D6E;
  padding: 10px;


}
.botones-calculadora{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px repeat(5 , 1fr);
    gap:10px;
    padding: 15px;
    background-color: black;
    border-radius: 32px;


  }

.botones-calculadora :hover{
  background-color: #4E3636;

}
.btn-number{
  background-color: rgb(181,46,43);
  font-size: 40px;
  border-radius: 32px;

}
.btn-operator{
  background-color: #ffbf00;
  color: black;
  font-size: 40px;
  border-radius: 32px;
}

.pantalla{

  grid-column: 1/ 3;

  padding: 16px;
  display: flex;
  font-size: 20px;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  background-color: #4E3636;

}

.igual {

  grid-column-start: 2;
  grid-column-end: 4;
}
